<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ioService" class="com.mikheev.homework.services.impl.IOServiceImpl"/>

    <bean id="csvReader" class="com.mikheev.homework.services.impl.CsvReaderImpl"/>

    <bean id="surveyService" class="com.mikheev.homework.services.impl.SurveyServiceImpl">
        <constructor-arg ref="csvReader"/>
        <constructor-arg ref="ioService"/>
        <constructor-arg name="questionsPath" value="csv/questions.csv"/>
    </bean>
</beans>