<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book page</title>
    <th:block th:include="~{fragments/libraryfragments :: commonstyles}"></th:block>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form id="edit-form" action="editbook.html" th:action="@{/editbook(id=${book.id})}" th:method="post" th:object="${book}">
                <div class="form-group">
                    <h1>Edit book:</h1>

                    <div>
                        <label for="id-input">ID:</label>
                        <input th:value="*{id}"
                               id="id-input" type="text" readonly="readonly" value="1"/>
                    </div>

                    <div>
                        <label for="holder-input">Title:</label>
                        <input th:value="*{title}"
                               id="holder-input" name="title" type="text" value="War and Peace"/>
                    </div>

                    <div>
                        <label for="authorSelect">Choose author:</label>
                        <select id="authorSelect" class="form-control" th:field="*{author}">
                            <option th:each="author : ${authors}"
                                    th:value="${author.id}"
                                    th:text="${author.name}">Pushkin</option>
                        </select>
                    </div>

                    <div>
                        <label for="genreSelect">Choose genre:</label>
                        <select id="genreSelect" class="form-control" th:field="*{genre}">
                            <option th:each="genre : ${genres}"
                                    th:value="${genre.id}"
                                    th:text="${genre.name}">Comedy</option>
                        </select>
                    </div>

                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>

            <div th:insert="~{fragments/libraryfragments :: home}"></div>
        </div>
    </div>
</div>

</body>
</html>
