<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit comment page</title>
    <th:block th:include="~{fragments/libraryfragments :: commonstyles}"></th:block>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form id="edit-form" action="editcomment.html"
                  th:action="@{/editcomment(bookId=${bookId}, id=*{id})}" th:method="post" th:object="${comment}">
                <div class="form-group">
                    <h1>Edit comment:</h1>

                    <div class="row">
                        <label for="id-input">ID:</label>
                        <input th:value="*{id}"
                               id="id-input" type="text" readonly="readonly" value="1"/>
                    </div>

                    <div class="row">
                        <label for="holder-input">Text:</label>
                        <input th:value="*{text}"
                               id="holder-input" name="text" type="text" value="Comment"/>
                    </div>

                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>

            <div th:insert="~{fragments/libraryfragments :: home}"></div>
        </div>
    </div>
</div>
</body>
</html>
