<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>
    <th:block th:include="~{fragments/libraryfragments :: commonstyles}"></th:block>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <h1>Genres:</h1>

            <table class="books">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="genre : ${genres}" th:object="${genre}">
                    <td th:text="*{id}">1</td>
                    <td th:text="*{name}">Comedy</td>
                </tr>
                </tbody>
            </table>

            <div th:insert="~{fragments/libraryfragments :: home}"></div>
        </div>
    </div>
</div>
</body>
</html>
