<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <th:block th:include="~{fragments/libraryfragments :: commonstyles}"></th:block>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <h1>Library</h1>

            <div class="list-group">
                <a th:href="@{/booklist}" href="booklist.html">List of all books</a>
                <a th:href="@{/authorlist}" href="authorlist.html">List of all authors</a>
                <a th:href="@{/genrelist}" href="genrelist.html">List of all genres</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
